@font-face {
    font-family: 'FF Yaseer';
    src: url('FFYaseer-Regular.woff2') format('woff2'),
        url('FFYaseer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* @font-face {
    font-family: 'FF Yaseer';
    src: url('FFYaseer-Solid.woff2') format('woff2'),
        url('FFYaseer-Solid.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

